@import "tailwindcss";

@theme {
  --color-dark-green: #111714;
  --color-green-100: #36E27B;
  --color-green-400: #152B1E;
  --color-green-500: #394D41;
  --color-blue-100: #8A96F4;
  --color-yellow-100: #EAB308;
  --color-red-100: #EF4444;
  --color-gray-50: #E6E6E6;
  --color-gray-100: #F7F7F7;
  --color-gray-200: #F1F1F1;
  --color-gray-300: #2D2D2D;
  --color-gray-400: #1C2620;
  --color-gray-500: #D9D9D9;
}

:root {
  font-family: 'Inter', sans-serif;
}